In [17]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [41]:
df = pd.DataFrame(columns=['Player','Salary','Year'])
df

Empty DataFrame
Columns: [Player, Salary, Year]
Index: []

In [42]:
driver = webdriver.Chrome('/Users/bpfalz/Downloads/chromedriver')
                          
for yr in range(1990,2019):
    page_num = str(yr) + '-' + str(yr+1) +'/'
    url = 'https://hoopshype.com/salaries/players/' + page_num
    driver.get(url)
    
    players = driver.find_elements_by_xpath('//td[@class="name"]')
    salaries = driver.find_elements_by_xpath('//td[@class="hh-salaries-sorted"]')
    
    players_list = []
    for p in range(len(players)):
        players_list.append(players[p].text)
    
    salaries_list = []
    for s in range(len(salaries)):
        salaries_list.append(salaries[s].text)
    
    data_tuples = list(zip(players_list[1:],salaries_list[1:]))
    temp_df = pd.DataFrame(data_tuples, columns=['Player','Salary'])
    temp_df['Year']=yr
    df=df.append(temp_df)
    
driver.close()

In [43]:
df.tail(50)

                     Player   Salary  Year
526        Johnathan Motley  $77,250  2018
527           Angel Delgado  $77,250  2018
528            Trevon Duval  $77,250  2018
529         Vincent Edwards  $77,250  2018
530       Marcus Derrickson  $77,250  2018
531              Damion Lee  $77,250  2018
532             Zach Lofton  $77,250  2018
533            Keenan Evans  $77,250  2018
534          Archie Goodwin  $77,250  2018
535  DeVaughn Akoon-Purcell  $77,250  2018
536            Thomas Welsh  $77,250  2018
537             Daryl Macon  $77,250  2018
538    Kostas Antetokounmpo  $77,250  2018
539               Deng Adel  $77,250  2018
540             Jalen Jones  $77,250  2018
541       Jaron Blossomgame  $77,250  2018
542           Billy Preston  $77,250  2018
543            John Holland  $77,250  2018
544         Brandon Sampson  $77,250  2018
545              Tyler Ulis  $77,250  2018
546            Rawle Alkins  $77,250  2018
547             Joe Chealey  $77,250  2018
548               JP Macura  $77,250  2018
549           Alan Williams  $77,250  2018
550             Theo Pinson  $77,250  2018
551               RJ Hunter  $77,250  2018
552               PJ Dozier  $77,250  2018
553          Alex Poythress  $77,250  2018
554           Scotty Hopson  $76,236  2018
555           Charles Cooke  $76,236  2018
556           Scott Machado  $76,236  2018
557            Andre Ingram  $76,236  2018
558            Kobi Simmons  $76,236  2018
559         Jonathan Gibson  $76,236  2018
560          Wenyen Gabriel  $75,000  2018
561           Billy Garrett  $67,370  2018
562             Mitch Creek  $56,845  2018
563         Brandon Goodwin  $56,845  2018
564          Jemerrio Jones  $52,170  2018
565           Tarik Phillip  $47,370  2018
566              Cody Demps  $47,370  2018
567         Richard Solomon  $47,370  2018
568           Kendrick Nunn  $47,370  2018
569           Dusty Hannahs  $47,370  2018
570           Stephan Hicks  $47,370  2018
571         Michael Frazier  $47,370  2018
572          Tahjere McCall  $47,370  2018
573          Mitchell Creek  $47,370  2018
574         Isaac Humphries  $47,370  2018
575           Jordan Sibert  $47,370  2018

In [44]:
df.to_csv('player_salary_data.csv')