## 1.05 Create League Scoring CSV
We already have statistics of broken up by season and team but now that is used to combine season by season of the entire league.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('all_teams_wins.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [12]:
df.tail(30)

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
1477,1610612766,Charlotte,Hornets,1988-89,82,20,62,0.244,12,6,0,0,12.0,6,NaN,3426,7430,0.461,134,430,0.312,1580,2060,0.767,1138,2200,3338,2323,2068,705,1318,264,8566,22
1478,1610612766,Charlotte,Hornets,1989-90,82,19,63,0.232,14,7,0,0,14.0,7,NaN,3270,7183,0.455,205,611,0.336,1487,1967,0.756,962,2211,3173,2080,1889,778,1226,262,8232,25
1479,1610612766,Charlotte,Hornets,1990-91,82,26,56,0.317,11,7,0,0,13.0,7,NaN,3286,7033,0.467,131,417,0.314,1725,2214,0.779,1027,2200,3227,2019,1946,759,1290,304,8428,20
1480,1610612766,Charlotte,Hornets,1991-92,82,31,51,0.378,11,6,0,0,14.0,7,NaN,3613,7568,0.477,117,369,0.317,1637,2168,0.755,1164,2367,3531,2284,1819,822,1273,309,8980,6
1481,1610612766,Charlotte,Hornets,1992-93,82,44,38,0.537,5,3,4,5,14.0,7,NaN,3512,7210,0.487,175,537,0.326,1831,2374,0.771,1095,2508,3603,2161,1790,639,1325,473,9030,2
1482,1610612766,Charlotte,Hornets,1993-94,82,41,41,0.500,9,5,0,0,14.0,7,NaN,3382,7100,0.476,336,916,0.367,1632,2135,0.764,1019,2475,3494,2214,1747,724,1266,394,8732,4
1483,1610612766,Charlotte,Hornets,1994-95,82,50,32,0.610,4,2,1,3,14.0,7,NaN,3051,6438,0.474,560,1409,0.397,1587,2042,0.777,832,2395,3227,2072,1685,620,1224,399,8249,15
1484,1610612766,Charlotte,Hornets,1995-96,82,41,41,0.500,9,6,0,0,15.0,8,NaN,3108,6618,0.470,584,1520,0.384,1631,2119,0.770,987,2256,3243,1907,1815,582,1241,277,8431,8
1485,1610612766,Charlotte,Hornets,1996-97,82,54,28,0.659,5,3,0,3,15.0,8,NaN,2988,6342,0.471,591,1382,0.428,1541,1984,0.777,910,2298,3208,2021,1702,597,1203,349,8108,12
1486,1610612766,Charlotte,Hornets,1997-98,82,51,31,0.622,4,3,4,5,15.0,8,NaN,2968,6344,0.468,346,904,0.383,1641,2186,0.751,985,2341,3326,1941,1757,691,1247,312,7923,10
1487,1610612766,Charlotte,Hornets,1998-99,50,26,24,0.520,9,5,0,0,15.0,8,NaN,1671,3718,0.449,268,735,0.365,1034,1384,0.747,480,1493,1973,1110,1101,443,796,247,4644,12
1488,1610612766,Charlotte,Hornets,1999-00,82,49,33,0.598,4,2,1,3,15.0,8,NaN,2935,6533,0.449,339,1001,0.339,1863,2458,0.758,884,2635,3519,2023,1670,732,1206,480,8072,14
1489,1610612766,Charlotte,Hornets,2000-01,82,46,36,0.561,6,3,6,4,15.0,8,NaN,2800,6501,0.431,340,984,0.346,1599,2146,0.745,1033,2608,3641,1900,1753,665,1183,455,7539,24
1490,1610612766,Charlotte,Hornets,2001-02,82,44,38,0.537,4,2,4,5,15.0,8,NaN,2893,6580,0.440,346,994,0.348,1568,2105,0.745,1059,2505,3564,1759,1747,653,1150,456,7700,20
1491,1610612766,Charlotte,Bobcats,2004-05,82,18,64,0.220,14,4,0,0,15.0,5,NaN,2961,6859,0.432,320,881,0.363,1487,2096,0.709,1083,2335,3418,1794,1894,695,1192,440,7729,22
1492,1610612766,Charlotte,Bobcats,2005-06,82,26,56,0.317,13,4,0,0,15.0,5,NaN,2961,6843,0.433,428,1261,0.339,1593,2186,0.729,990,2270,3260,1717,1960,822,1167,354,7943,18
1493,1610612766,Charlotte,Bobcats,2006-07,82,33,49,0.402,11,4,0,0,15.0,5,NaN,2960,6643,0.446,457,1280,0.357,1568,2136,0.734,920,2346,3266,1836,1985,638,1224,369,7945,18
1494,1610612766,Charlotte,Bobcats,2007-08,82,32,50,0.390,12,4,0,0,15.0,5,NaN,2960,6554,0.452,529,1443,0.367,1510,2115,0.714,892,2440,3332,1748,1777,614,1204,402,7959,19
1495,1610612766,Charlotte,Bobcats,2008-09,82,35,47,0.427,10,4,0,0,15.0,5,NaN,2866,6299,0.455,490,1339,0.366,1455,1965,0.740,886,2366,3252,1741,1754,580,1279,397,7677,30
1496,1610612766,Charlotte,Bobcats,2009-10,82,44,38,0.537,7,4,0,4,15.0,5,NaN,2858,6306,0.453,460,1331,0.346,1637,2180,0.751,858,2490,3348,1658,1597,632,1290,446,7813,28
1497,1610612766,Charlotte,Bobcats,2010-11,82,34,48,0.415,10,4,0,0,15.0,5,NaN,2873,6365,0.451,393,1203,0.327,1511,1999,0.756,848,2444,3292,1728,1637,524,1192,433,7650,29
1498,1610612766,Charlotte,Bobcats,2011-12,66,7,59,0.106,15,5,0,0,15.0,5,NaN,2193,5293,0.414,263,892,0.295,1090,1462,0.746,677,1894,2571,1326,1249,397,957,361,5739,30
1499,1610612766,Charlotte,Bobcats,2012-13,82,21,61,0.256,14,4,0,0,15.0,5,NaN,2823,6649,0.425,469,1399,0.335,1546,2060,0.750,917,2389,3306,1587,1561,591,1153,479,7661,26
1500,1610612766,Charlotte,Bobcats,2013-14,82,43,39,0.524,7,3,0,4,15.0,5,NaN,2976,6730,0.442,516,1471,0.351,1474,2000,0.737,776,2724,3500,1778,1493,499,1010,421,7942,23
1501,1610612766,Charlotte,Hornets,2014-15,82,33,49,0.402,11,4,0,0,15.0,5,NaN,2913,6932,0.420,498,1566,0.318,1397,1867,0.748,820,2793,3613,1654,1494,499,976,448,7721,28
1502,1610612766,Charlotte,Hornets,2015-16,82,48,34,0.585,6,3,3,4,15.0,5,NaN,3036,6922,0.439,873,2410,0.362,1534,1941,0.790,734,2869,3603,1778,1487,595,1029,438,8479,11
1503,1610612766,Charlotte,Hornets,2016-17,82,36,46,0.439,11,4,0,0,15.0,5,NaN,3093,7000,0.442,824,2347,0.351,1591,1953,0.815,721,2853,3574,1891,1360,571,942,390,8601,16
1504,1610612766,Charlotte,Hornets,2017-18,82,36,46,0.439,10,3,0,0,15.0,5,NaN,3197,7106,0.450,824,2233,0.369,1656,2216,0.747,827,2901,3728,1770,1409,559,1041,373,8874,10
1505,1610612766,Charlotte,Hornets,2018-19,82,39,43,0.476,9,2,0,0,15.0,5,NaN,3297,7362,0.448,977,2783,0.351,1510,1895,0.797,814,2778,3592,1905,1550,591,1001,405,9081,19
1506,1610612766,Charlotte,Hornets,2019-20,57,19,38,0.333,11,4,0,0,15.0,5,NaN,2118,4915,0.431,678,1960,0.346,912,1230,0.741,630,1814,2444,1350,1079,377,839,233,5826,30

In [11]:
df['NBA_FINALS_APPEARANCE'].value_counts()

LEAGUE CHAMPION      72
FINALS APPEARANCE    71
Name: NBA_FINALS_APPEARANCE, dtype: int64

In [21]:
# feature engineering to create 2 point shots and relate them to 3 point shots
# also gets important statistics on per game basis to account for 2 shorter seasons that were shortened due to NBA lockouts in 1998 and 2011

df['FG2M']=df['FGM']-df['FG3M']
df['FG2A']=df['FGA']-df['FG3A']
df['FG2_PCT']=df['FG2M']/df['FG2A']
df['FG3A/FGA']=df['FG3A']/df['FGA']
df['FG2A/FGA']=df['FG2A']/df['FGA']
df['FTA/FGA']=df['FTA']/df['FGA']
df['FG3A/FG2A']=df['FG3A']/df['FG2A']
df['FG2M_PER_GP']=df['FG2M']/df['GP']
df['FG3M_PER_GP']=df['FG3M']/df['GP']
df['FG2A_PER_GP']=df['FG2A']/df['GP']
df['FG3A_PER_GP']=df['FG2A']/df['GP']
df['PTS_PER_GP']=df['PTS']/df['GP']
df['3PT_PER_PTS']=3*df['FG3M']/df['PTS']
df['2PT_PER_PTS']=2*df['FG2M']/df['PTS']

In [18]:
# makes binary columns for playoffs scenarios for each team

df['PLAYOFFS'] = df.CONF_RANK.apply(lambda x: 1 if x < 9 else 0)
df['CHAMPS'] = df.NBA_FINALS_APPEARANCE.apply(lambda x: 1 if x == 'LEAGUE CHAMPION' else 0)
df['FINALS_LOSS'] = df.NBA_FINALS_APPEARANCE.apply(lambda x: 1 if x == 'FINALS APPEARANCE' else 0)
df['FINALS_APPEARANCE'] = df['CHAMPS']+df['FINALS_LOSS']

In [19]:
df

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,CONF_COUNT,DIV_COUNT,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK,FG2M,FG2A,FG2_PCT,FG2M_PER_GP,FG3M_PER_GP,FG2A_PER_GP,FG3A_PER_GP,PTS_PER_GP,3PT_PER_PTS,2PT_PER_PTS,PLAYOFFS,CHAMPS,FINALS_LOSS,FINALS_APPEARANCE
0,1610612737,Tri-Cities,Blackhawks,1949-50,64,29,35,0.453,0,3,1,2,NaN,6,NaN,1818,0,0.000,0,0,0.000,0,2308,0.727,0,0,0,1330,2057,0,0,0,5313,10,1818,0,inf,28.406250,0.000000,0.000000,0.000000,83.015625,0.000000,0.684359,1,0,0,0
1,1610612737,Tri-Cities,Blackhawks,1950-51,68,25,43,0.368,0,5,0,0,NaN,5,NaN,1988,0,0.000,0,0,0.000,0,2425,0.723,0,0,0,1476,2092,0,0,0,5730,3,1988,0,inf,29.235294,0.000000,0.000000,0.000000,84.264706,0.000000,0.693892,1,0,0,0
2,1610612737,Milwaukee,Hawks,1951-52,66,17,49,0.258,0,5,0,0,NaN,6,NaN,1674,0,0.000,0,0,0.000,0,2177,0.682,0,0,0,1229,1848,0,0,0,4833,10,1674,0,inf,25.363636,0.000000,0.000000,0.000000,73.227273,0.000000,0.692737,1,0,0,0
3,1610612737,Milwaukee,Hawks,1952-53,71,27,44,0.380,0,5,0,0,NaN,5,NaN,1873,0,0.000,0,0,0.000,0,2400,0.685,0,0,0,1427,2120,0,0,0,5389,9,1873,0,inf,26.380282,0.000000,0.000000,0.000000,75.901408,0.000000,0.695120,1,0,0,0
4,1610612737,Milwaukee,Hawks,1953-54,72,21,51,0.292,0,4,0,0,NaN,4,NaN,1757,0,0.000,0,0,0.000,0,2205,0.691,0,0,0,1298,1771,0,0,0,5038,9,1757,0,inf,24.402778,0.000000,0.000000,0.000000,69.972222,0.000000,0.697499,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1502,1610612766,Charlotte,Hornets,2015-16,82,48,34,0.585,6,3,3,4,15.0,5,NaN,3036,6922,0.439,873,2410,0.362,1534,1941,0.790,734,2869,3603,1778,1487,595,1029,438,8479,11,2163,4512,0.479388,26.378049,10.646341,55.024390,55.024390,103.402439,0.308881,0.510202,1,0,0,0
1503,1610612766,Charlotte,Hornets,2016-17,82,36,46,0.439,11,4,0,0,15.0,5,NaN,3093,7000,0.442,824,2347,0.351,1591,1953,0.815,721,2853,3574,1891,1360,571,942,390,8601,16,2269,4653,0.487642,27.670732,10.048780,56.743902,56.743902,104.890244,0.287408,0.527613,0,0,0,0
1504,1610612766,Charlotte,Hornets,2017-18,82,36,46,0.439,10,3,0,0,15.0,5,NaN,3197,7106,0.450,824,2233,0.369,1656,2216,0.747,827,2901,3728,1770,1409,559,1041,373,8874,10,2373,4873,0.486969,28.939024,10.048780,59.426829,59.426829,108.219512,0.278567,0.534821,0,0,0,0
1505,1610612766,Charlotte,Hornets,2018-19,82,39,43,0.476,9,2,0,0,15.0,5,NaN,3297,7362,0.448,977,2783,0.351,1510,1895,0.797,814,2778,3592,1905,1550,591,1001,405,9081,19,2320,4579,0.506661,28.292683,11.914634,55.841463,55.841463,110.743902,0.322762,0.510957,0,0,0,0
1506,1610612766,Charlotte,Hornets,2019-20,57,19,38,0.333,11,4,0,0,15.0,5,NaN,2118,4915,0.431,678,1960,0.346,912,1230,0.741,630,1814,2444,1350,1079,377,839,233,5826,30,1440,2955,0.487310,25.263158,11.894737,51.842105,51.842105,102.210526,0.349125,0.494336,0,0,0,0

In [22]:
df['YEAR'] = df['YEAR'].str[:4]

In [23]:
df['YEAR']=pd.to_datetime(df['YEAR'])

In [24]:
league_scoring=df.groupby('YEAR').sum()[['FG2M','FG2A','FG3M','FG3A','FGM','FGA','FTM','FTA','PTS','GP']]

In [28]:
# same feature engineering as before to be applied to the grouped dataset

league_scoring['FG2_PCT']=league_scoring['FG2M']/league_scoring['FG2A']
league_scoring['FG3_PCT']=league_scoring['FG3M']/league_scoring['FG3A']
league_scoring['FG_PCT']=league_scoring['FGM']/league_scoring['FGA']
league_scoring['FT_PCT']=league_scoring['FTM']/league_scoring['FTA']
league_scoring['FG3A/FGA']=league_scoring['FG3A']/league_scoring['FGA']
league_scoring['FG2A/FGA']=league_scoring['FG2A']/league_scoring['FGA']
league_scoring['FTA/FGA']=league_scoring['FTA']/league_scoring['FGA']
league_scoring['FG3A/FG2A']=league_scoring['FG3A']/league_scoring['FG2A']
league_scoring['FG2M_PER_GP']=league_scoring['FG2M']/league_scoring['GP']
league_scoring['FG3M_PER_GP']=league_scoring['FG3M']/league_scoring['GP']
league_scoring['FG2A_PER_GP']=league_scoring['FG2A']/league_scoring['GP']
league_scoring['FG3A_PER_GP']=league_scoring['FG3A']/league_scoring['GP']
league_scoring['PTS_PER_GP']=league_scoring['PTS']/league_scoring['GP']
league_scoring['3PT_PER_PTS']=3*league_scoring['FG3M']/league_scoring['PTS']
league_scoring['2PT_PER_PTS']=2*league_scoring['FG2M']/league_scoring['PTS']

In [29]:
league_scoring

,FG2M,FG2A,FG3M,FG3A,FGM,FGA,FTM,FTA,PTS,GP,FG2_PCT,FG3_PCT,FG_PCT,FT_PCT,FG3A/FGA,FG2A/FGA,FTA/FGA,FG3A/FG2A,FG2M_PER_GP,FG3M_PER_GP,FG2A_PER_GP,FG3A_PER_GP,PTS_PER_GP,3PT_PER_PTS,2PT_PER_PTS
YEAR,,,,,,,,,,,,,,,,,,,,,,,,,
1946-01-01,4372,0,0,0,4372,0,0,4409,11604,180,inf,NaN,inf,0.000000,NaN,NaN,inf,NaN,24.288889,0.000000,0.000000,0.000000,64.466667,0.000000,0.753533
1947-01-01,3875,0,0,0,3875,0,0,3886,10402,144,inf,NaN,inf,0.000000,NaN,NaN,inf,NaN,26.909722,0.000000,0.000000,0.000000,72.236111,0.000000,0.745049
1948-01-01,10457,0,0,0,10457,0,0,11510,28908,360,inf,NaN,inf,0.000000,NaN,NaN,inf,NaN,29.047222,0.000000,0.000000,0.000000,80.300000,0.000000,0.723468
1949-01-01,15273,0,0,0,15273,0,0,17901,43342,536,inf,NaN,inf,0.000000,NaN,NaN,inf,NaN,28.494403,0.000000,0.000000,0.000000,80.861940,0.000000,0.704767
1950-01-01,16077,0,0,0,16077,0,0,18510,45701,539,inf,NaN,inf,0.000000,NaN,NaN,inf,NaN,29.827458,0.000000,0.000000,0.000000,84.788497,0.000000,0.703573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-01-01,73112,148808,20953,59241,94065,208049,43489,57469,252572,2460,0.491318,0.353691,0.452129,0.756738,0.284745,0.715255,0.276228,0.398104,29.720325,8.517480,60.491057,24.081707,102.671545,0.248876,0.578940
2016-01-01,72313,143693,23748,66421,96061,210114,43883,56855,259753,2460,0.503247,0.357538,0.457185,0.771841,0.316119,0.683881,0.270591,0.462242,29.395528,9.653659,58.411789,27.000407,105.590650,0.274276,0.556783
2017-01-01,71628,140368,25807,71339,97435,211707,40903,53325,261580,2460,0.510287,0.361752,0.460235,0.767051,0.336970,0.663030,0.251881,0.508228,29.117073,10.490650,57.060163,28.999593,106.333333,0.295974,0.547657
2018-01-01,73107,140716,27955,78742,101062,219458,43494,56758,273573,2460,0.519536,0.355020,0.460507,0.766306,0.358802,0.641198,0.258628,0.559581,29.718293,11.363821,57.201626,32.008943,111.208537,0.306554,0.534461
2019-01-01,49531,95016,20782,58246,70313,153262,30474,39514,191882,1724,0.521291,0.356797,0.458776,0.771220,0.380042,0.619958,0.257820,0.613013,28.730278,12.054524,55.113689,33.785383,111.300464,0.324918,0.516265

In [30]:
league_scoring.to_csv('league_scoring.csv')